<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand d-flex align-items-center"
      href="#">
      <img src="../assets/img/logo.png"
        alt="Logo"
        width="80"
        height="80"
        class="d-inline-block align-text-top">
      <div>
        QAjuda - Lanchonete
      </div>
    </a>
  </div>
</nav>

<section class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <button routerLink="lanches">
          <img src="../assets/img/lanches.png"
          class="card-img-top"
          alt="Lanches">
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <button routerLink="bebidas">
          <img src="../assets/img/bebidas.png"
          class="card-img-top"
          alt="Bebidas">
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <button routerLink="doces">
          <img src="../assets/img/doces.png"
          class="card-img-top"
          alt="Doces">
        </button>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

